body{
    background-color: #28292a;
    margin: 20px;
    color: aliceblue;
}
h1{
    color:blue;
    text-decoration: underline rgb(42, 204, 245);
    justify-content: center;
    align-items: center;
    display: flex;
}
h2{
  color:yellow;
}
h3{
  color:rgb(128, 245, 245);
}
p{
    color: rgb(255, 255, 255);
}
.indice{
  color: rgb(91, 255, 173); 
}
ul{
  color: rgb(235, 110, 110);
}
section{
  justify-content: center;
  align-items: center;
  background: 
  linear-gradient(rgb(232,39,197),rgb(42, 204, 245));
  background-size: cover;
  border-style: solid;
}
.cambioColor{
  background: 
  linear-gradient(grey,grey);
}
.vueltaColor{
  background: 
    linear-gradient(rgb(232,39,197),rgb(42, 204, 245));
  background-size: cover;
  border-style: solid;
}
.estudios{
  background: 
    linear-gradient(rgb(74, 223, 250),rgb(102, 59, 221));
  background-size: cover;
  border-style: solid;
}
.premios{
  background: 
    linear-gradient(rgb(102, 59, 221),rgb(52, 243, 154));
  background-size: cover;
  border-style: solid;
}
.produccion{
  background: 
    linear-gradient(rgb(52, 243, 154),rgb(230, 85, 92));
  background-size: cover;
  border-style: solid;
}
.titulo {
  padding: 10pt;
  text-align: center;
  font-family: sans-serif;
  
}

.menu-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .menu-link p {
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
  }
  .menu-link a {
    text-decoration: none;
    display: block;
    font-family:Arial;
    position: relative;
    color: white;
    padding:.5em 0;
  }
  .menu-link a:hover {
    color: #c69f73;
  }
  
  .menu-link a:hover:before {
    left: 0;
    width: 100%;
  }

  .menu-link a:before {
    content: "";
    position: absolute;
    width: 0;
    height: .5px;
    background-color: red;
    bottom: calc(-1px);
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }


.contenedor{
  border: 1px green solid;
  position: static;
} 

img[alt=Firefox]{
  position: static;
  float: right;
  border: black solid;
  box-shadow: 5px 5px 5px;
  padding: 10pt;
}

.tabla-bio{
    align: center;
    margin: 0 auto;
    border: solid;
}

.tabla-bio-encabezado{
    background-color: blue;
    color: white;
}

.tabla-bio-par{
    background-color: white;
    color: black;
}

.tabla-bio-impar{
    background-color: green;
    color: black;
}